/*
**template styles
*/
#header {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 10000;
  border:1px solid;
}

#header.affix {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
}

#header .navbar-brand {
  background: url(../example/logo.png) no-repeat scroll 0 20px;
}

#header .navbar-brand {
  padding: 20px 0 20px 148px;
  font-size: 18px;
  color: #ffffff;
  height: auto;
  text-transform: capitalize;
  font-weight: bold;
}

#header.affix .navbar-brand {
  background: url(../example/logo1.png) no-repeat scroll 0 22px;
  color: #009999;
}

@media (max-width: 1199px) {
  #header .navbar-brand {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    /*margin-left: -30px;*/
  }
}
@media (max-width: 991px) {
  #header .navbar-brand {
    display: none;
  }
}
@media (max-width: 767px) {
  #header.affix {
    background-color: transparent;
  }
}
#header .navbar-brand [class*="icon"] {
  background-color: #009999;
  font-size: 30px;
  color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: relative;
  left: -4px;
  padding: 0;
  top: auto;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#header .navbar-brand:hover [class*="icon"] {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
